*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: $color-body;
  font-family: $font-karla;
  font-size: 1.4rem;
  background-image: linear-gradient(-180deg, #F3E4FA 0%, white 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include desktop {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  > div {
    padding: 2rem;
    max-width: 36rem;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 20rem;
  }
}
