.button {
  display: inline-block;
  padding: 2.1rem 4rem 2rem;
  color: white;
  font-family: $font-colfax;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-image: linear-gradient(-199deg, #80C3F3 0%, #4A90E2 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  transition: none;

  &:hover {
    background-image: linear-gradient(-199deg, #4A90E2 0%, #4A90E2 100%);
    text-decoration: none;
  }

  &.purple {
    background-image: linear-gradient(45deg, #6155CE 0%, #DA7BEA 100%);

    &:hover {
      background-image: linear-gradient(45deg, #6155CE 0%, #6155CE 100%);
    }
  }
}
