#ethos {
	background: url(../images/bg_ethos.png) center 7.6rem no-repeat #FBF7FE;
	background-size: 40rem auto;
	text-align: center;
	padding-top: 6rem;

	.concepts {
		margin: 6rem 0;
		font-size: 1.4rem;
		line-height: 2rem;

		h4 {
			margin-bottom: 2rem;
		}

		a { font-weight: 500; }

		@include desktop {
			display: flex;
		}

		> div {
			margin-bottom: 3rem;
			padding: 3rem 2rem 1rem 2rem;
			font-family: $font-colfax;
			background: white;
			box-shadow: 0 2px 10px 0 rgba(135,113,155,0.50);
			border-radius: 10px;
			text-align: left;

			@include desktop {
				display: flex;
				flex-direction: column;
				flex: 1;
				margin-right: 2rem;
				margin-bottom: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			> div {
				flex: 1;
			}
		}
	}
}
