#flash {
  display: none;
  width: $content-narrow-width;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background: $color-code;
  border-radius: 3px;
}