form[name=signup] {
  max-width: $content-narrow-width;
  margin: 3rem auto 6rem;

  @include desktop {
    display: flex;
    justify-content: center;
  }

  .field {
    margin: 0 auto;
    max-width: 51rem;

    &:first-of-type {
      flex: 1;
      margin-bottom: 1rem;

      @include desktop {
        margin-right: 1rem;
      }
    }
  }

  input[type=email] {
    width: 100%;
    padding: 1.5rem 2rem 1.4rem;
    font-family: inherit;
    font-size: 2rem;
    color: $color-intro;
    border: none;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #F3E4FA;
    outline: none;

    &::-webkit-input-placeholder { color: #ccc; }
    &::-moz-placeholder { color: #ccc; }
    &:-ms-input-placeholder { color: #ccc; }
    &:-moz-placeholder { color: #ccc; }
    &:placeholder { color: #ccc; }
  }

  .button {
    min-width: 21.6rem;
    width: 100%;
    padding: 1.5rem 5.2rem;
    padding-bottom: 1.4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);

    @include desktop {
      width: auto;
    }
  }
}