// Font
$font-colfax: colfax-web, sans-serif;
$font-karla: 'Karla', sans-serif;
$font-code: "source-code-pro", monospace;

//Color
$color-body: #63758A;
$color-headline: #591F7A;
$color-subhead: #9013FE;
$color-intro: #6C4782;
$color-code: #F71B81;

// Dimensions
$content-width: 96rem;

// Responsive
$desktop-width: 960px;
$tiny-mobile-width: 320px;